<div class="row">
    <h1>Experencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Hiper Libertad</h1> - <h3>(1 año)</h3>
            </li>
            <p>Nov. 2018 - Ago. 2019
                Repositor -
                Desempeño en reposicíon de productos de las
                gondolas.</p>
        </ul>
        <ul>
            <li>
                <h1>Volkswagen </h1> - <h3>(3 meses)</h3>
            </li>
            <p>Ago. 2019 - Dic. 2019
                Calidad - 
                Practicas profesionales -
                Desempeño en laboratorio general de calidad.
                Usos de herramientas eléctricas, manuales,
                maquinaria e instrumentos de mediciones.
                </p>
        </ul>
        <ul>
            <li>
                <h1>Herrerias Dagna</h1> - <h3>(Actualmente)</h3>
            </li>
            <p>Ene. 2020 - Actualmente.
                - Herrero - 
                Usos de herramientas eléctricas, manual,
                Interpretación de planos 2D y 3D. Armado de
                estructuras metálicas.
                </p>
        </ul>
    </div>

</div>
