<div class="row">
    <h1>Hard & Soft Skills </h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="73"
      [radius]="100"
      [imageSrc]="'../assets/html.png'" title="Html" alt="Html"
      [showImage]="true"
      [showUnits]="false"
      [imageHeight]="100"
      [imageWidth]="100"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#66cdaa'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [lazy]="true"
      [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="62"
      [radius]="100"
      [imageSrc]="'../assets/js.png'" title="Js" alt="Js"
      [showImage]="true"
      [showUnits]="false"
      [imageHeight]="100"
      [imageWidth]="100"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#66cdaa'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [lazy]="true"
      [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="76"
      [radius]="100"
      [imageSrc]="'../assets/CSS.png'" title="CSS" alt="CSS"
      [showImage]="true"
      [showUnits]="false"
      [imageHeight]="100"
      [imageWidth]="100"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#66cdaa'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [lazy]="true"
      [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="80"
      [radius]="100"
      [imageSrc]="'../assets/phyton.png'" title="Python" alt="Python"
      [showImage]="true"
      [showUnits]="false"
      [imageHeight]="100"
      [imageWidth]="100"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#66cdaa'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [lazy]="true"
      [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="64"
      [radius]="100"
      [imageSrc]="'../assets/git.png'" title="Git" alt="Git"
      [showImage]="true"
      [showUnits]="false"
      [imageHeight]="100"
      [imageWidth]="100"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#66cdaa'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [lazy]="true"
      [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="53"
      [radius]="100"
      [imageSrc]="'../assets/eng.png'" title="English" alt="English"
      [showImage]="true"
      [showUnits]="false"
      [imageHeight]="100"
      [imageWidth]="100"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#66cdaa'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [lazy]="true"
      [animationDuration]="300"
      ></circle-progress>
    </div>
    
</div>