<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/miperfiljpg.jpg "class="img-fluid" id="fotoperfil" >
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Dagna Gabriel Exequiel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>hola soy un estudiante de ingeniería en sistemas. Cursando primer año en la Universidad Tecnológica Nacional - Facultad Regional Córdoba. En mis tiempos libres me dedico a programar.
            </p>
        </span>
    </div>
</div>