<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Escuela Nícolas Copérnico IPET 249
                    (técnica)
                    </h1> - <h3>(2013 - 2019)</h3>
            </li>
            <p> <b> Técnico Mecánico </b>-
                Destaque en uso de tornos CNC, tornos paralelos,
                uso de instrumentos de medición. Maquinas
                manuales. Diseños de SolidWorks(3D)
                </p>
        </ul>
        <ul>
            <li>
                <h1>Universidad Tecnológica Nacional -
                    Facultad Regional Córdoba</h1> - <h3>(Actualmente)</h3>
            </li>
            <p>
               <b> Ingeniero Sistema De Información
                UTN </b>- cursando primer año de ingeniería
                SISTEMAS DE INFORMACÍON
                
                </p>
        </ul>
        <ul>
            <li>
                <h1>Instituto Superior Politécnico Córdoba </h1> - <h3>(Actualmente)</h3>
            </li>
            <p>
                 <b> Técnico Superior en Desarrollo Web y Aplicaciones Digitales</b>-  Desarrollo, planificación y programación de paginas webs, desarrollo de aplicaciones moviles, web e hibridas, full stack (front end y back end), hacking ético, bases de datos, etc.
                
                </p>
        </ul>
       
    </div>

</div>

