<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Dimesion of professions</h1>
            <p>Es un videojuego estilo battle royale donde tiene distintos personajes y cada uno tiene sus propios poderes.</p>
            <p>
                Fecha de comienzo: 10/12/2021
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col offset-md-1 parte2">
            <img src="../../../assets/juego.jpg" class="img-fluid img-proyecto">

        </div>

    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto integrador</h1>
            <p>Es un pagina web donde esta hecho mi portafolio para presentar en Argnetina Programa.</p>
            <p>
                Fecha de comienzo: 07/05/2022
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col offset-md-1 parte2">
            <img src="../../../assets/mapa.jpg" class="img-fluid img-proyecto">

        </div>

    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Adapt place</h1>
            <p>Es una app de mapa, para marcar, localizar y diagnosticar lugares para determinar su tipo de adaptabilidad.</p>
            <p>
                Fecha de comienzo: 23/06/2019
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col offset-md-1 parte2">
            <img src="../../../assets/arg.jpg" class="img-fluid img-proyecto">

        </div>

    </div>
    

</div>
